<nav id="nav-overlay" class="overlay" >
  <a href="#" class="button close bg-white border-none blend-screen"></a>

  <div id="nav-controls" class="nav-controls cycle-pager external">
    <ul id="nav-cycle-pager">
      <li><a href="#nav-search" id="nav-search-btn"><span class="icon icon-search"></span> Select a location</a></li>
      <li><a href="#nav-variables"><span class="icon icon-variables"></span> View by variable</a></li>
      <li><a href="#nav-stations"><span class="icon icon-bubble"></span> Weather & Tidal Stations</a></li>
    </ul>
  </div>

  <!-- NAV -->

  <div id="nav-cycle" class="cycle-slideshow"
       data-cycle-timeout="0"
       data-cycle-fx="scrollHorz"
       data-cycle-slides="> .slide"
       data-cycle-pager="#nav-cycle-pager"
       data-cycle-pager-template=""
       data-cycle-log="false">

    <!-- SEARCH -->

    <div id="nav-search" class="slide" data-slide-num="0">
      <div class="slide-bg"></div>

      <div class="nav-content-wrap">
        <h3 class="search-field"><span class="icon icon-search"></span>
          <input type="text" class="location-mapper" autocomplete="off" placeholder="Enter county, city, or zip code">
        </h3>
        <div id="suggested-cities">
          <span>or choose from the following suggested cities:</span>
          <ul>
            <li><a href="/location/?county=New%20York+County&city=New%20York,%20NY&fips=36061&lat=40.7127753&lon=-74.0059728">New York City, NY</a></li>
            <li><a href="/location/?county=Los+Angeles+County&city=Los%20Angeles,%20CA&fips=06037&lat=34.0522342&lon=-118.2436849">Los Angeles, CA</a></li>
            <li><a href="/location/?county=Cook+County&city=Chicago,%20IL&fips=17031&lat=41.8781136&lon=-87.62979819999998">Chicago, IL</a></li>
            <li><a href="/location/?county=Maricopa+County&city=Phoenix,%20AZ&fips=04013&lat=33.4483771&lon=-112.07403729999999">Phoenix, AZ</a></li>
            <li><a href="/location/?county=Harris+County&city=Houston,%20TX&fips=48201&lat=29.7604267&lon=-95.3698028">Houston, TX</a></li>

          </ul>
        </div>
      </div>
    </div>

    <!-- VARIABLES -->

    <div id="nav-variables" class="slide" data-slide-num="1">
      <div class="slide-bg"></div>

      <div class="nav-content-wrap">
        <h3><span class="icon icon-variables"></span> Choose a variable</h3>

        <div class="nav-content tabs">
          <div id="nav-vars-projected" class="tab nav-content-tab">
            <ol class="col-3">
              <li>Temperature
                <ul>
                  {{#each nav.temp}}
                    <li><a href="#detail-{{variable}}" class="nav-detail-link">{{name}}</a></li>
                  {{/each}}
                </ul>
              </li>
              <li>Precipitation
                <ul>
                  {{#each nav.precip }}
                    <li><a href="#detail-{{variable}}" class="nav-detail-link">{{name}}</a></li>
                  {{/each}}
                </ul>
              </li>
              <li>Other
                <ul>
                  {{#each nav.derived}}
                    <li><a href="#detail-{{variable}}" class="nav-detail-link">{{name}}</a></li>
                  {{/each }}
                </ul>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <!-- STATIONS -->

    <div id="nav-stations" class="slide" data-slide-num="2">
      <div class="slide-bg"></div>

      <div class="nav-content-wrap">
        <h3><span class="icon icon-bubble"></span> Choose analysis type</h3>

        <div class="nav-content tabs">
          <div id="nav-stations-list" class="tab nav-content-tab">
            <ul class="col-3">
              {{#each nav.stations}}
                <li><a href="#detail-{{variable}}" class="nav-detail-link">{{name}}</a></li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- DETAIL OVERLAY -->

<div id="detail-overlay" class="overlay">
  <a href="#" class="button close bg-white border-none blend-screen"></a>

  <!-- VARIABLES -->

  <div id="variable-details" class="nav-detail">

    <!-- TEMPERATURE -->

    {{#each nav.temp}}

      <div id="detail-{{ variable }}" class="nav-detail-item">


        <h3>What does <u>{{{ overlayname }}}</u> tell us?</h3>

        {{{ detail }}}

        <p><a href="/variables/?id={{ variable }}" class="button bg-trans border-white hover-bg-white">Get started</a>
          <a href="#" class="close-detail button bg-trans border-trans color-white"><span class='icon-arrow-left'></span>&nbsp;Back</a>
        </p>
      </div>

    {{/each}}

    <!-- PRECIPITATION -->

    <div id="detail-precipitation" class="nav-detail-item">
      <h3>What does <u>Precipitation</u> tell us?</h3>

      <p>We evaluate climate over long periods of observation. For example, in 2014, the global temperature was 1.24°F (0.69°C) above the long-term average
        for
        the 20th century, according to NOAA's National Climatic Data Center. That number made 2014 the warmest year on record in the NOAA database, which goes
        back to 1880.</p>
      <p>Data source: NOAA, 2015</p>

      <p><a href="/variables/?id=pr" class="button bg-trans border-white hover-bg-white">Get started</a>
        <a href="#" class="close-detail button bg-trans border-trans color-white"><span class='icon-arrow-left'></span>&nbsp;Back</a>
      </p>
    </div>

    {{#each nav.precip}}

      <div id="detail-{{ variable }}" class="nav-detail-item">
        <h3>What does <u>{{{ overlayname }}}</u> tell us?</h3>

        {{{ detail }}}

        <p>{{ source }}</p>

        <p><a href="/variables/?id={{ variable }}" class="button bg-trans border-white hover-bg-white">Get started</a>
          <a href="#" class="close-detail button bg-trans border-trans color-white"><span class='icon-arrow-left'></span>&nbsp;Back</a>
        </p>
      </div>

    {{/each}}

    <!-- DERIVED -->

    <div id="detail-derived" class="nav-detail-item">
      <h3>What does <u>Derived</u> tell us?</h3>

      <p>Derived ...</p>

      <p>Data source: NOAA, 2015</p>

      <p><a href="/variables/?id=derived" class="button bg-trans border-white hover-bg-white">Get started</a>
        <a href="#" class="close-detail button bg-trans border-trans color-white"><span class='icon-arrow-left'></span>&nbsp;Back</a>
      </p>
    </div>

    {{#each nav.derived}}

      <div id="detail-{{ variable }}" class="nav-detail-item">
        <h3>What does number of <u>{{{ overlayname }}}</u> tell us?</h3>
        {{{ detail }}}
        <p>{{ source }}</p>
        <p><a href="/variables/?id={{ variable }}" class="button bg-trans border-white hover-bg-white">Get started</a>
          <a href="#" class="close-detail button bg-trans border-trans color-white"><span class='icon-arrow-left'></span>&nbsp;Back</a>
        </p>
      </div>
    {{/each}}
  </div>

  <!-- STATIONS -->

  <div id="stations-details" class="nav-detail">
   {{#each nav.stations}}
      <div id="detail-{{variable}}" class="nav-detail-item">
        <h3>{{{ overlayname }}}</h3>
        <p>{{{detail}}}</p>
        <p><a href="/stations/?id={{variable}}" class="button bg-trans border-white hover-bg-white">Get started</a>
          <a href="#" class="close-detail button bg-trans border-trans color-white"><span class='icon-arrow-left'></span>&nbsp;Back</a>
        </p>
      </div>
    {{/each}}
  </div>
</div>
